/* ==================== */
/* 水彩背景素材 */
/* ==================== */
.watercolor-1 {
    position: fixed;
    top: -80px;
    left: -50px;
    width: 50vw;
    height: auto;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: darken;
}

.watercolor-1 img {
    width: 100%;
    height: auto;
}

.watercolor-2 {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 40vw;
    height: auto;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: darken;
}

.watercolor-2 img {
    width: 100%;
    height: auto;
}

.watercolor-3 {
    position: fixed;
    bottom: 0px;
    right: 300px;
    width: 60vw;
    height: auto;
    z-index: 3;
    pointer-events: none;
    mix-blend-mode: darken;
}

.watercolor-3 img {
    width: 100%;
    height: auto;
}